:root {
  --font-family: system-ui, sans-serif;

  /* http://www.colorbox.io/#steps=11#hue_start=259#hue_end=261#hue_curve=easeInQuad#sat_start=1#sat_end=0#sat_curve=easeInCubic#sat_rate=130#lum_start=90#lum_end=0#lum_curve=easeInOutCubic#minor_steps_map=0 */
  --gray-0: #e3e3e6;
  --gray-1: #d5d4d7;
  --gray-2: #c6c5c8;
  --gray-3: #a4a3a5;
  --gray-4: #818082;
  --gray-5: #605f60;
  --gray-6: #424243;
  --gray-7: #2a2a2a;
  --gray-8: #171718;
  --gray-9: #0a0a0a;
  --gray-10: #030303;
  --gray-11: #000000;

  --color-background: #fff;
  --color-text: var(--gray-11);
  --color-primary: tomato;
  --color-accent: var(--gray-7);
  --color-code-background: var(--gray-1);
  --color-code: var(--gray-8);
  --color-divider: var(--gray-4);

  --width-container: 36em;

  --space-0: 0;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;

  --font-size-0: 16px;
  --font-size-1: 18px;
  --font-size-2: 20px;
  --font-size-3: 24px;
  --font-size-4: 32px;

  --font-weight-heading: 600;
  --font-weight-paragraph: 400;
  --font-weight-link: 600;

  --line-height-body: 1.4;
  --line-height-heading: 1.1;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  line-height: var(--line-height-body);
  background-color: var(--color-background);
  color: var(--color-text);
  width: var(--width-container);
  margin: var(--space-4) auto;
}

a,
a:visited {
  font-weight: var(--font-weight-link);
  color: var(--color-text);
}

a:hover {
  color: var(--color-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-heading);
  margin: var(--space-3) 0 0;
}

pre {
  background-color: var(--color-code-background);
  color: var(--color-code);
  overflow: auto;
  padding: var(--space-3);
}

hr {
  margin: var(--space-4) 0;
  border: thin solid var(--color-divider);
}

img {
  max-width: 100%;
}
